<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="#">
    <meta name="author" content="#">
    <link rel="stylesheet" href="#">
  </head>
  <body>
    <p>If you are seeing this for the first time, follow these instructions:
      enable less secure app access in google account settings, and try logging in. 
       if it still does not work, <a href="https://accounts.google.com/b/0/DisplayUnlockCaptcha">manually allow access to this app.</a></p>
    <form method="post" action="/login">
        <input type="text" name="user_email" placeholder="Your Email"><br></br>
        <input type="password" name="user_password" placeholder="Your Password"><br>
        <input type="submit" value="Submit">
    </form>
    <script src="#"></script>
  <body>
</html>